@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DTEKITINNOVATIONS TRAINING PORTAL</h1>

<div class="container">

    <table class="table">
        <tr>
            <td>
                <p>DTEKITINNOVATIONS</p>
                <img src="~/Content/images/EINSTIEN.png" alt="DtekItInnovations Training" height="278" width="495">
            </td>
            <td>
                <p>WORKSHOP 4</p>
                <img src="~/Content/images/Workshop4-netsec.png" alt="DtekItInnovations Training" height="400" width="800">
            </td>

        </tr> 
    </table>

</div>
